h1 {color: red}
h2 {background-color: red; color:white; height: 80px;}
.grassetto {font-weight: bold}
div {border-width: 2px; border-color: black; border-style: solid; margin: 5px; display: flex; width: 220px; height: 200px; float: left;}