h1{
    color: red;
}
.casuale{
    background-color: gray;
    height: 50px;
    width: 50px;
}
.finale{
    color: white;
    background-color: red;
}
.uno {color: red;}
.due {color:green;}
.tre {color: blue;}
.quattro {color:yellow;}