h1{
    color: red;
}
.casuale{
    background-color: gray;
    height: 50px;
    width: 50px;
}

.finale{
    color: white;
    background-color: red;
}
.uno {background-color: red;height: 50px; width: 50px;}
.due {background-color:green;height: 50px; width: 50px;}
.tre {background-color: blue;height: 50px; width: 50px;}
.quattro {background-color:yellow;height: 50px; width: 50px;}