.primo {
    background-color: white;
    height: 150px;
    width: 150px;
    margin: 5px;
}
.secondo {
    background-color: white;
    height: 100px;
    width: 100px;
    margin: 5px;
}
.terzo {
    background-color: white;
    height: 50px;
    width: 50px;
    margin: 5px;
}
.button {
    display: flex;
}